:root {
    --azul: #0A3F9F;
    --amarelo: #DEFF1C;
    --branco: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    height: 100vh;
    background: var(--azul);
    color: var(--branco);
    margin: auto;

}

.header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

main {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    background-color: var(--branco);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 25px 0px;
    margin-top: 10px;
}

.shape {
    position: fixed;
}

.links-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 92%;
    margin: auto;

}

.link-button {
    background-color: rgb(60, 60, 60);
    display: flex;
    height: 104px;
    box-sizing: border-box;
    padding: 10px 25px;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    text-decoration: none;
}

.link-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/* 
.link-button img{
    height: 80%;
} */

.text-buttom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    color: var(--branco);

}

.text-buttom .main-text {
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    /* line-height: 26px; 144.444% */
    
}

.text-buttom .sub-text {
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    
}

.fan-registration {
    border: 2px solid #358AB4;
    background: linear-gradient(92deg, rgba(24, 102, 219, 1) 2.18%, rgba(14, 144, 217, 0.50) 98.44%);
    box-shadow: 0px 100px 80px 0px rgba(27, 112, 154, 0.34), 0px 41.778px 33.422px 0px rgba(27, 112, 154, 0.24), 0px 22.336px 17.869px 0px rgba(27, 112, 154, 0.20), 0px 12.522px 10.017px 0px rgba(27, 112, 154, 0.17), 0px 6.65px 5.32px 0px rgba(27, 112, 154, 0.14), 0px 2.767px 2.214px 0px rgba(27, 112, 154, 0.10);
}

.team-registration {
    border: 1px solid red;
    gap: 30px;

    border: 2px solid #E9FF67;
    background: linear-gradient(92deg, #a8c216 2.18%, rgba(210, 238, 49, 0.70) 100%);
    box-shadow: 0px 100px 80px 0px rgba(131, 148, 29, 0.34), 0px 41.778px 33.422px 0px rgba(131, 148, 29, 0.24), 0px 22.336px 17.869px 0px rgba(131, 148, 29, 0.20), 0px 12.522px 10.017px 0px rgba(131, 148, 29, 0.17), 0px 6.65px 5.32px 0px rgba(131, 148, 29, 0.14), 0px 2.767px 2.214px 0px rgba(131, 148, 29, 0.10);
}

.players-community {
    border: 2px solid #BAFFC0;
    background: linear-gradient(92deg, #65CD70 10%, rgba(111, 212, 121, 0.70) 100%);
    box-shadow: 0px 100px 80px 0px rgba(66, 175, 84, 0.34), 0px 41.778px 33.422px 0px rgba(66, 175, 84, 0.24), 0px 22.336px 17.869px 0px rgba(66, 175, 84, 0.20), 0px 12.522px 10.017px 0px rgba(66, 175, 84, 0.17), 0px 6.65px 5.32px 0px rgba(66, 175, 84, 0.14), 0px 2.767px 2.214px 0px rgba(66, 175, 84, 0.10);
}

.cup-rules {
    border: 2px solid #FF7473;
    background: linear-gradient(92deg, #FF4546 4.58%, rgba(255, 69, 70, 0.60) 98.44%);
    box-shadow: 0px 100px 80px 0px rgba(255, 69, 70, 0.34), 0px 41.778px 33.422px 0px rgba(255, 69, 70, 0.24), 0px 22.336px 17.869px 0px rgba(255, 69, 70, 0.20), 0px 12.522px 10.017px 0px rgba(255, 69, 70, 0.17), 0px 6.65px 5.32px 0px rgba(255, 69, 70, 0.14), 0px 2.767px 2.214px 0px rgba(255, 69, 70, 0.10);
}

.bg{
    position: fixed;
    top: 0;
    align-items: center;

    z-index: -1000;
}

@media (max-width: 400px) {
    .header img{
        height: 150px;
    }
}